.conteiner{
   margin: 0 40px;
}
.conteiner> div:first-child{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 40px;
   position: relative;
}
.conteiner>div:last-child{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 32px;
}
.conteiner>div p:first-child{
   font-size: 64px;
   font-weight: 700;
   line-height: 70.4px;
}
.conteiner>div>a>p:last-child{
   font-size: 16px;
   font-weight: 500;
   line-height: 20.16px;
   text-align: center;
   color: #8B8B8B;
   padding: 8px 16px;
   gap: 10px;
   border-radius: 10px;
   border: 1px solid #8B8B8B;
}
.line{
   position: absolute;
   width: 825px;
   border-bottom: 1px solid #8B8B8B;
   right: 142px;
}
.conteiner>div>a{
   text-decoration: none;
}