.card{
   display: flex;
   border-radius: 7px;
   border: 1px solid #DDDDDD;
   width: 780px;
}
.image>img{
   width: 200px;
   height: 180px;
   border-radius: 7px;
   border-right: 1px solid #DDDDDD;
}
.description{
   width: 548px;
   padding: 32px;
   display: flex;
   flex-direction: column;
   gap: 32px;
}
.description>div:first-child{
   display: flex;
   justify-content: space-between;
   gap: 16px;
}
.description>div:last-child{
   display: flex;
   gap: 32px;
   align-items: end;
}
.count{
   border: 1px solid #DDDDDD;
   border-radius: 10px;
   display: flex;
}
.count p{
   width: 58px;
   height: 58px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.count p:first-child{
   border-right: 1px solid #DDDDDD;
   border-radius: 10px;
}
.count p:last-child{
   border-left: 1px solid #DDDDDD;
   border-radius: 10px;
}
.price>p{
   font-size: 40px;
   font-weight: 600;
   line-height: 44px;
}
.price>p:last-child{
   display: none;
}
.price_discont{
   display: flex;
   gap: 16px;
   align-items: end;
}
.price_discont>p:first-child{
   font-size: 40px;
   font-weight: 600;
   line-height: 44px;
}
.price_discont>p:last-child{
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   color: #8B8B8B;
   text-decoration: line-through;
}
@media (max-width: 1000px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
@media (max-width: 360px) {

}