.conteiner{
   width: 1440px;
   height: 600px;
   margin: 0 auto;
   

}
.conteiner h1{
 font-family: Montserrat;
font-size: 96px;
font-weight: 700;
line-height: 105.6px;
text-align: left;
color: white;
padding-left: 40px;
padding-top: 80px;
padding-bottom: 60px;

position: relative;
}

.conteiner span{
   border: 1px solid  #92A134;
   border-radius: 5px;
   background-color: #92A134;
   color: white;
   font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 26px;
text-align: center;

width: 218px;
height: 58px;
padding: 16px 56px;
gap: 10px;

margin-left: 40px;
margin-top: 210px;


}