.card{
   padding-bottom: 40px;
}
.card img{
   width: 780px;
   height: 572px;
   border-radius: 10px;
}
.card{
   display: flex;
   gap: 20px;
}
.card>div:last-child{
   display: flex;
   flex-direction: column;
   gap: 32px;
}
.descr>div>div{
   display: flex;
}
.descr>div>div:first-child{
   border: 1px solid #DDDDDD;
   border-radius: 10px;
}
.count p{
   width: 58px;
   height: 58px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.count p:first-child{
   border-right: 1px solid #DDDDDD;
   border-radius: 10px;
}
.count p:last-child{
   border-left: 1px solid #DDDDDD;
   border-radius: 10px;
}
.descr>div:first-child{
   font-size: 40px;
   font-weight: 700;
   line-height: 44px;
   letter-spacing: 0.03em;
}
.button{
   padding: 16px 32px;
   background-color: #92A134;
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
   color: white;
   border-radius: 10px;
}
.button p{
   width: 252px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.description{
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.description>p:first-child{
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
}
.description>div>p:last-child{
   font-size: 16px;
   font-weight: 400;
   line-height: 20.8px;
}
.price{
   display: flex;
   gap: 32px;
}
.price_disc{
   align-items: end;
}
.price_disc{
   display: flex;
   gap: 32px;
   position: relative;
}
.price>p:first-child{
   font-size: 64px;
   font-weight: 700;
   line-height: 70.4px;
}
.price_disc>p:first-child{
   font-size: 64px;
   font-weight: 700;
   line-height: 70.4px;
}
.price>div>p:last-child{
   display: none;
}
.price_disc>div>p:last-child{
   position: absolute;
   padding: 4px 8px 4px 8px;
   border-radius: 10px;
   background-color: #F26D22;
   color: white;
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
   letter-spacing: 0.03em;
   left: 120px;
   bottom: 40px;
}
.price>div>p:first-child{
   display: none;
}
.price_disc>div>p:first-child{
   text-decoration: line-through;
   color: #8B8B8B;
   font-size: 40px;
   font-weight: 500;
   line-height: 52px;
}
.price_disc>div{
   position: relative;
}
.readMore{
   margin-top: 60px;
   text-decoration: underline;
   font-size: 16px;
   font-weight: 500;
   line-height: 20.8px;
}
.flex{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
@media (max-width: 1000px) {
   .card{
      position: relative;
   }
   .card img{
      width: 470px;
      height: 572px;
   }
   .descr{
      max-width: 470px;
   }
   .button{
      width: 265px;
   }
}
@media (max-width: 768px) {
   .card{
      padding-bottom: 130px;
      gap: 20px;
   }
   .card img{
      width: 354px;
      height: 273px;
      border: 1px solid #DDDDDD
   }
   .descr{
      width: 354px;
   }
   .card>div:last-child{
      gap: 20px;
   }
   .description{
      position: absolute;
      right: 0;
      top: 320px;
   }
   .descr>div:first-child{
      font-size: 24px;
      line-height: 35.2px;
      letter-spacing: 0.03em;
   }
   .price>p:first-child{
      font-size: 40px;
      line-height: 57.6px;
   }
   .price_disc>p:first-child{
      font-size: 40px;
      line-height: 57.6px;
   }
   .price_disc>div>p:first-child{
      font-size: 28px;
      line-height: 41.6px;
   }
   .flex{
      flex-direction: column;
   }
   .count{
      width: 155px;
   }
   .count p{
      width: 50px;
      height: 50px;
   }
}
@media (max-width: 480px) {
   .card{
      padding: 40px 0 170px;
      gap: 20px;
      position: relative;
   }
   .card img{
      width: 210px;
      height: 179px;
   }
   .descr{
      width: 210px;
   }
   .description{
      position: absolute;
      right: 0;
      top: 250px;
   }
   .descr>div:first-child{
      font-size: 28px;
      line-height: 30.8px;
      letter-spacing: 0.03em;
      position: absolute;
      top: -40px;
      right: 0;
   }
   .price>p:first-child{
      font-size: 44px;
      line-height: 48px;
   }
   .price_disc>p:first-child{
      font-size: 44px;
      line-height: 48px;
   }
   .price_disc>div>p:first-child{
      font-size: 23px;
      line-height: 41.6px;
   }
   .price_disc>div>p:last-child{
      left: -220px;
      bottom: 10px;
   }
   .count p{
      width: 41px;
      height: 41px;
   }
   .count{
      width: 125px;
   }
   .button{
      padding: 12px 20px;
      font-size: 18px;
      line-height: 23.4px;
      width: 210px;
   }
}
@media (max-width: 360px) {
   .card{
      padding: 90px 0 170px;
      gap: 20px;
      position: relative;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .card img{
      width: 320px;
      height: 220px;
   }
   .flex{
      align-items: center;
      justify-content: center;
   }
   .description{
      position: absolute;
      right: 0;
      top: 530px;
   }
   .price_disc>div>p:last-child{
      left: 80px;
      bottom: 250px;
   }
}