.conteiner{
   background-color: #FFFFF1;
}
.conteiner>div{
   padding: 80px 340px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 32px;
}
.conteiner h2{
   font-size: 64px;
   font-weight: 700;
   line-height: 70.4px;
   text-align: center;
   padding-bottom: 16px;
}
.conteiner p{
   font-size: 20px;
   font-weight: 500;
   line-height: 26px;
   text-align: center;
   color: #8B8B8B;
}
.conteiner a div{
   width: 209px;
   padding: 16px 56px 16px 56px;
   border-radius: 7px;
   background-color: #92A134;
   font-size: 20px;
   font-weight: 600;
   line-height: 26px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
}
.conteiner>div>div{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 32px;
}
@media (max-width: 1000px) {

}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}
@media (max-width: 360px) {

}